* {
    background-color: black;
    padding: 0;
    box-sizing: border-box;
  }

  .text-container h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: bolder;
    padding: 0;
  }
  
  .text-container h2 {
    font-size: 1.625rem;
    font-weight: 400;
    font-weight: bold;
    padding: 0;
  }
  
  @font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
        format("woff2"),
      url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
        format("woff");
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
    padding: 70px 45px;
    margin: 0 auto;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
    padding: 70px 45px;
    margin: 0 auto;
  }
  
  .image-container {
    padding: 50px 5px;
  }
  
  .text-container {
    color: white;
    align-self: center;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .download-card {
    position: relative;
    display: flex;
    border: 2px rgba(255, 255, 255, 0.25) solid;
    color: white;
    width: 60%;
    margin: 0 auto;
    top: -120px;
    height: 84px;
    border-radius: 10px;
    padding: 8px 12px;
  }
  
  .download-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
    vertical-align: middle;
  }
  
  .download-text .text0 {
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    align-self: left;
    vertical-align: middle;
    padding-left: 20px;
  }
  
  .download-text .text1 {
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0071eb;
    align-self: left;
    vertical-align: middle;
    padding-left: 20px;
  }
  
  